
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    float: left;
}

nav {
    width: 73%;
    padding: 1%;
    float: left;

}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 700px;
    padding: 25px;
}

.content {
    width: 1300px;
    margin: 0 auto;
    float: left;
}

footer {
    background-color: #81cae3;
    padding: 25px;

}

ul.footer {
    display: inline-block;
    vertical-align: top;
    padding: 40px;
    text-align: center;
}
